body {
  padding-top: 20px;
}

.main-section {
  background-color: #f8f8f8;
}

.section {
  background-color: #e7e7e7;
  margin-bottom: 20px;
}

.section h3 {
  text-align: center;
  margin-top: 20px;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.navbar-collapse {
  background-color: #e7e7e7;
}
